<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541170568601-7ubq2i9rbjbb6im46rm061atmg9sgegi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541170568601-7ubq2i9rbjbb6im46rm061atmg9sgegi</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Z4F9KdC1nn-lWt_vtzZMReZHtHvpU4s</string>
	<key>GCM_SENDER_ID</key>
	<string>541170568601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.juristally</string>
	<key>PROJECT_ID</key>
	<string>juristally-fe513</string>
	<key>STORAGE_BUCKET</key>
	<string>juristally-fe513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541170568601:ios:b574ec2c24b3b1418a1708</string>
</dict>
</plist>